html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #181718;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans;
    color: #aaa;
}

#body {
    width:1200px;
    margin: 0 auto;
    background: #181718;
    height: 100%;
}

#header {
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100px;
    background: #181718;
    border-bottom: solid 1px #333;
}

#sitename {
    font-weight: bold;
    float:left;
    font-size: 24px;
    padding-top: 30px;
    width: 15%;
}

#topmenu {
    float:right;
    margin-right: 0;
    margin-left: auto;
    height: 100%;
    font-weight: bold;
    font-size: 16px;
}

.menuitem {
    float: left;
    border-right: solid 1px #444;
    padding:3px 20px;
    margin-top: 35px;
    color: #888;
}


.menuitem:hover {
    color: #ccc;
    cursor: pointer;
}

.menu-select {
	color: #fff;
}

#topmenu a{
    color: #888;
    text-decoration: none;
}

#topmenu a:visited{
    color: #888;
    text-decoration: none;
}

#topmenu a:hover{
    color: #fff;
    /*background: #fff;*/
    text-decoration: none;
}

#leftcol {
    float: left;
    width: 900px;
    /*min-width: 600px; */
    margin: 0 auto;
}

#leftcol h1 {
	margin-top: 5px;
	padding-top: 0;
}


#rightcol {
    float:right;
    width: 200px;
    height: 100%;
    margin: 0;

    /* border-left: solid 1px #333; */
}

#content {
    height: 100%;
}

#login {
margin-top:30px;
float:right;
}

.dataTable th {
	color: #fff;
}

.dataTable tr {
	color: #000;
}

#question_list_body {
	display: none;
	width: 100%;
}

#scoreboard_body {
	display: none;
	width: 100%;
}

#home_body {
	width: 100%;
}

#question_body {
	display: none;
	width: 100%;
}

#bc_questions:hover {
	cursor: pointer;
	color: #fff;
}

#message_area {
	height: 25px;
	width:100%;
	margin-bottom:5px;
}

#message{
	height: 100%;
	font-size: 20px;
	width:100%;
	display:none;
	color: #fff;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
}


#success{
	height: 100%;
	font-size: 20px;
	width:100%;
	display:none;
	background: url('/static/images/success_message_background.png') no-repeat;
	color: #fff;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
}

#error{
	height: 100%;
	font-size: 20px;
	width:100%;
	display:none;
	background: url('/static/images/error_message_background.png') no-repeat;
	color: #fff;
	text-align: center;
	padding-top:5px;
	font-weight: bold;
}

#question_table_length {
	display:none;
}

#scoreboard_table_length {
	display:none;
}

#question_table thead{
	/* background-color: #132626; */
	color:white;
}

#answer_box {
width: 700px;
height: 100px;
}